.topnav {
    background-color:#f8f8f8;
    overflow: hidden;
}



.topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

body{
    background-color: #f8f8f8;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.logo{
    position: absolute;
    right:0%;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

h1{
    font-weight: bold;
    color: steelblue;
}
p{
    color: slategrey;
}



h1 img{
    font-weight: bold;
    color: steelblue;
    size: 10px;
    margin-bottom: -30px;
    margin-left: 10px;
    font-weight: bold;
}